// Sizes
.width-100p {
  width: 100%;
}

.height-100p {
  height: 100%;
}

.height-100 {
  height: 100vh;
}

.full-size {
  &:extend(.width-100p);
  &:extend(.height-100p);
}

.full-screen {
  &:extend(.width-100p);
  &:extend(.height-100);
}

// Position
.abs-center {
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}


// Welcome Alert
.welcome-alert {
  background-color: @primary-color;
  padding: 1rem;
  top: 2rem;
  width: 75%;
  max-width: 75%;

  &:extend(.rounded-4x);
  &:extend(.abs-center);
}

h1.ant-typography, .ant-typography h1, .welcome-alert-text {
  &:extend(.fg-white);
}


// Logo & Icons
.logo {

}

// Main Content
.main-content-container {
  &:extend(.height-100);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

// Overview Item/Card
.overview-item-card {
  padding: 1rem;

  &:extend(.rounded-2x);
  &:extend(.box-shadow-smooth);
  &:extend(.bg-true-white);

  .ant-statistic {
    &:extend(.full-size);

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .ant-statistic-title {
    &:extend(.font-micro);
    &:extend(.text-uppercase);
  }
}

// Overview Icon
.overview-icon-container {
  &:extend(.fg-white);
  &:extend(.rounded-2x);
  &:extend(.bg-accent);
  &:extend(.full-size);

  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;

}

