body {
  font-family: 'Poppins', sans-serif;
}

.text-uppercase {
  text-transform: uppercase;
  // Always use letter spacing for uppercase to enhance readability
  // Note: this needs to be in em, because the spacing needs to be calculated
  // from the current item's font size
  letter-spacing: .1em;
}

.font-small {
  font-size: .7rem;
}

.font-micro {
  font-size: .5rem;
}