@fill-color-light: #f6f6f6;
@fill-color-dark: #222222;
@accent-color: #00ffff;
@accent-darker: #47dbdd;

@secondary-color: #4285f4;
@true-white: #ffffff;
@primary-darker: #0d0b80;
@light-grey: #d9d9d9;
@lighter-grey: #e9ebef;

@pagination-green: #54b794;


// Atomic classes for text colour
.fg-primary {
  color: @primary-color;
}

.fg-primary-darker{
  color: @primary-darker;
}

.fg-secondary {
  color: @secondary-color;
}

.fg-black {
  color: @fill-color-dark;
}

.fg-white {
  color: @fill-color-light;
}

.fg-accent {
  color: @accent-color;
}

.fg-accent-darker {
  color: @accent-darker;
}

.fg-success * {
  color: @success-color;
}

.fg-error * {
  color: @error-color;
}

.fg-pagination {
  color: @pagination-green;
}

.fg-light-grey {
  color: @light-grey;
}

// Atomic classes for background
.bg-primary {
  background-color: @primary-color;
}

.bg-primary-darker {
  background-color: @primary-darker;
}

.bg-secondary {
  background-color: @secondary-color;
}

.bg-black {
  background-color: @fill-color-dark;
}

.bg-white {
  background-color: @fill-color-light;
}

.bg-true-white {
  background-color: @true-white;
}

.bg-accent {
  background-color: @accent-color;
}

.bg-accent-darker {
  background-color: @accent-darker;
}

.bg-transparent {
  background-color: transparent;
}

.bg-lighter-grey{
  background-color: @lighter-grey;
}

.bg-light-grey {
  background-color: @light-grey;
}

// Atomic class for soft box shadow
.box-shadow-smooth {
  box-shadow:
          0 3px 4px rgba(2, 2, 2, .02),
          0 12px 24px rgba(2, 2, 2, .03),
          0 24px 36px rgba(2, 2, 2, .05);
}

// Atomic classes for border radius
.rounded-1x {
  border-radius: @border-radius-base;
}

.rounded-2x {
  border-radius: calc(@border-radius-base * 2);
}

.rounded-4x {
  border-radius: calc(@border-radius-base * 4);
}

.round {
  border-radius: 50%;
}

