@fill-color-light: #f6f6f6;
@fill-color-dark: #222222;
@accent-color: #00ffff;
@secondary-color: #4285f4;
@true-white: #ffffff;
@primary-darker: #0d0b80;
@light-grey: #d9d9d9;


// Atomic classes for text colour
.fg-primary {
  color: @primary-color;
}

.fg-primary-darker{
  color: @primary-darker;
}

.fg-secondary {
  color: @secondary-color;
}

.fg-black {
  color: @fill-color-dark;
}

.fg-white {
  color: @fill-color-light;
}

.fg-accent {
  color: @accent-color;
}

.fg-success * {
  color: @success-color;
}

.fg-error * {
  color: @error-color;
}

// Atomic classes for background
.bg-primary {
  background-color: @primary-color;
}

.bg-primary-darker {
  background-color: @primary-darker;
}

.bg-secondary {
  background-color: @secondary-color;
}

.bg-black {
  background-color: @fill-color-dark;
}

.bg-white {
  background-color: @fill-color-light;
}

.bg-true-white {
  background-color: @true-white;
}

.bg-accent {
  background-color: @accent-color;
}

.bg-transparent {
  background-color: transparent;
}

// Atomic class for soft box shadow
.box-shadow-smooth {
  box-shadow:
          0 3px 2px rgba(2, 2, 2, .02),
          0 6px 4px rgba(2, 2, 2, .03),
          0 12px 8px rgba(2, 2, 2, .04),
          0 24px 16px rgba(2, 2, 2, .05);

}

// Atomic classes for border radius
.rounded-1x {
  border-radius: @border-radius-base;
}

.rounded-2x {
  border-radius: calc(@border-radius-base * 2);
}

.rounded-4x {
  border-radius: calc(@border-radius-base * 4);
}

.round {
  border-radius: 50%;
}

